<html>
<head>
<title>activity_principal.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: rgb(0,0,0); font-weight: normal; font-style: normal; }
.s0 { color: rgb(0,0,0); font-style: italic; }
.s1 { color: rgb(0,0,255); font-weight: bold; }
.s2 { color: rgb(0,0,0); }
.s3 { color: rgb(0,128,0); font-weight: bold; }
.s4 { color: rgb(0,0,128); font-weight: bold; }
</style>
</head>
<BODY BGCOLOR="#ffffff">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#C0C0C0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
activity_principal.xml</FONT>
</center></TD></TR></TABLE>
<pre>
<span class="s0">&lt;?</span><span class="s1">xml version=</span><span class="s3">&quot;1.0&quot; </span><span class="s1">encoding=</span><span class="s3">&quot;utf-8&quot;</span><span class="s0">?&gt;</span><span class="s2"> 
&lt;</span><span class="s4">RelativeLayout </span><span class="s1">xmlns:android=</span><span class="s3">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s2"> 
    </span><span class="s1">xmlns:tools=</span><span class="s3">&quot;http://schemas.android.com/tools&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
    </span><span class="s1">android:paddingBottom=</span><span class="s3">&quot;@dimen/activity_vertical_margin&quot;</span><span class="s2"> 
    </span><span class="s1">android:paddingLeft=</span><span class="s3">&quot;@dimen/activity_horizontal_margin&quot;</span><span class="s2"> 
    </span><span class="s1">android:paddingRight=</span><span class="s3">&quot;@dimen/activity_horizontal_margin&quot;</span><span class="s2"> 
    </span><span class="s1">android:paddingTop=</span><span class="s3">&quot;@dimen/activity_vertical_margin&quot;</span><span class="s2"> 
    </span><span class="s1">tools:context=</span><span class="s3">&quot;.Activity_Listarecetas&quot;</span><span class="s2">&gt; 
 
    &lt;</span><span class="s4">TableLayout</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;50dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignParentTop=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignParentLeft=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignParentStart=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/Plantilla1&quot;</span><span class="s2">&gt; 
 
        &lt;</span><span class="s4">TableRow</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2">&gt; 
 
            &lt;</span><span class="s4">TextView</span><span class="s2"> 
                </span><span class="s1">android:textAppearance=</span><span class="s3">&quot;?android:attr/textAppearanceSmall&quot;</span><span class="s2"> 
                </span><span class="s1">android:text=</span><span class="s3">&quot;Usuario&quot;</span><span class="s2"> 
                </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/LbUsuario&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_column=</span><span class="s3">&quot;0&quot; </span><span class="s2">/&gt; 
 
            &lt;</span><span class="s4">TextView</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:textAppearance=</span><span class="s3">&quot;?android:attr/textAppearanceSmall&quot;</span><span class="s2"> 
                </span><span class="s1">android:text=</span><span class="s3">&quot;Contraseña&quot;</span><span class="s2"> 
                </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/LbContraseña&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_column=</span><span class="s3">&quot;10&quot; </span><span class="s2">/&gt; 
        &lt;/</span><span class="s4">TableRow</span><span class="s2">&gt; 
 
        &lt;</span><span class="s4">TableRow</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;80dp&quot;</span><span class="s2">&gt; 
 
            &lt;</span><span class="s4">EditText</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;80dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;40dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:inputType=</span><span class="s3">&quot;textPersonName&quot;</span><span class="s2"> 
                </span><span class="s1">android:ems=</span><span class="s3">&quot;10&quot;</span><span class="s2"> 
                </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/TxtUsuario&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_column=</span><span class="s3">&quot;0&quot; </span><span class="s2">/&gt; 
 
            &lt;</span><span class="s4">EditText</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;80dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;40dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:inputType=</span><span class="s3">&quot;textPassword&quot;</span><span class="s2"> 
                </span><span class="s1">android:ems=</span><span class="s3">&quot;10&quot;</span><span class="s2"> 
                </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/TxtContraseña&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_column=</span><span class="s3">&quot;10&quot; </span><span class="s2">/&gt; 
 
            &lt;</span><span class="s4">Button</span><span class="s2"> 
                </span><span class="s1">style=</span><span class="s3">&quot;?android:attr/buttonStyleSmall&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;100dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:text=</span><span class="s3">&quot;Iniciar Sesión&quot;</span><span class="s2"> 
                </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/BtnInciarSesion&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_column=</span><span class="s3">&quot;20&quot;</span><span class="s2"> 
                </span><span class="s1">android:singleLine=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
                </span><span class="s1">android:textSize=</span><span class="s3">&quot;10dp&quot; </span><span class="s2">/&gt; 
 
            &lt;</span><span class="s4">Button</span><span class="s2"> 
                </span><span class="s1">style=</span><span class="s3">&quot;?android:attr/buttonStyleSmall&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;100dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:text=</span><span class="s3">&quot;Registrarse&quot;</span><span class="s2"> 
                </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/BtnRegistrarse&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_column=</span><span class="s3">&quot;21&quot;</span><span class="s2"> 
                </span><span class="s1">android:textSize=</span><span class="s3">&quot;10dp&quot; </span><span class="s2">/&gt; 
 
        &lt;/</span><span class="s4">TableRow</span><span class="s2">&gt; 
    &lt;/</span><span class="s4">TableLayout</span><span class="s2">&gt; 
 
    &lt;</span><span class="s4">TableLayout</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;40dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_centerHorizontal=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_below=</span><span class="s3">&quot;@+id/Plantilla1&quot;</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/Plantilla2&quot;</span><span class="s2">&gt; 
 
        &lt;</span><span class="s4">TableRow</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2">&gt; 
 
            &lt;</span><span class="s4">SearchView </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/searchView&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_column=</span><span class="s3">&quot;0&quot; </span><span class="s2">/&gt; 
 
            &lt;</span><span class="s4">EditText</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;200dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;40dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/TxtBusqueda&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_column=</span><span class="s3">&quot;1&quot; </span><span class="s2">/&gt; 
 
            &lt;</span><span class="s4">Button</span><span class="s2"> 
                </span><span class="s1">style=</span><span class="s3">&quot;?android:attr/buttonStyleSmall&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:text=</span><span class="s3">&quot;C.Compras&quot;</span><span class="s2"> 
                </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/BtnCarrito&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_column=</span><span class="s3">&quot;4&quot; </span><span class="s2">/&gt; 
 
        &lt;/</span><span class="s4">TableRow</span><span class="s2">&gt; 
 
    &lt;/</span><span class="s4">TableLayout</span><span class="s2">&gt; 
 
    &lt;</span><span class="s4">FrameLayout</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;250dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_below=</span><span class="s3">&quot;@+id/Plantilla2&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignParentLeft=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignParentStart=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/Plantilla3&quot;</span><span class="s2">&gt; 
 
        &lt;</span><span class="s4">Button</span><span class="s2"> 
            </span><span class="s1">android:text=</span><span class="s3">&quot;recetas&quot;</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/BtnRecetas&quot;</span><span class="s2"> 
            </span><span class="s1">style=</span><span class="s3">&quot;@style/Botones_principales&quot; </span><span class="s2">/&gt; 
 
        &lt;</span><span class="s4">Button</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;150dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;115dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:text=</span><span class="s3">&quot;Chef</span><span class="s1">&amp;apos;</span><span class="s3">s&quot;</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/BtnChefs&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;right|top&quot;</span><span class="s2"> 
            </span><span class="s1">style=</span><span class="s3">&quot;@style/Botones_principales&quot; </span><span class="s2">/&gt; 
 
        &lt;</span><span class="s4">Button</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;150dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;115dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:text=</span><span class="s3">&quot;Restaurante&quot;</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/BtnRestaurante&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;left|bottom&quot; </span><span class="s2">/&gt; 
 
        &lt;</span><span class="s4">Button</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;150dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;115dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:text=</span><span class="s3">&quot;Productos&quot;</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/BtnProductos&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;right|bottom&quot; </span><span class="s2">/&gt; 
    &lt;/</span><span class="s4">FrameLayout</span><span class="s2">&gt; 
 
    &lt;</span><span class="s4">TableLayout</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_below=</span><span class="s3">&quot;@+id/Plantilla3&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_centerHorizontal=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/Plantilla4&quot;</span><span class="s2">&gt; 
 
        &lt;</span><span class="s4">LinearLayout</span><span class="s2"> 
            </span><span class="s1">android:orientation=</span><span class="s3">&quot;vertical&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;33dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:textAlignment=</span><span class="s3">&quot;center&quot;</span><span class="s2">&gt; 
 
            &lt;</span><span class="s4">TextView</span><span class="s2"> 
                </span><span class="s1">android:textAppearance=</span><span class="s3">&quot;?android:attr/textAppearanceSmall&quot;</span><span class="s2"> 
                </span><span class="s1">android:text=</span><span class="s3">&quot;YourProof © 2016&quot;</span><span class="s2"> 
                </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/LbTeam&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_column=</span><span class="s3">&quot;15&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot; </span><span class="s2">/&gt; 
        &lt;/</span><span class="s4">LinearLayout</span><span class="s2">&gt; 
 
    &lt;/</span><span class="s4">TableLayout</span><span class="s2">&gt; 
 
&lt;/</span><span class="s4">RelativeLayout</span><span class="s2">&gt; 
</span></pre>
</body>
</html>