<html>
<head>
<title>activity_act__items_recetas.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: rgb(0,0,0); font-weight: normal; font-style: normal; }
.s0 { color: rgb(0,0,0); font-style: italic; }
.s1 { color: rgb(0,0,255); font-weight: bold; }
.s2 { color: rgb(0,0,0); }
.s3 { color: rgb(0,128,0); font-weight: bold; }
.s4 { color: rgb(0,0,128); font-weight: bold; }
</style>
</head>
<BODY BGCOLOR="#ffffff">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#C0C0C0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
activity_act__items_recetas.xml</FONT>
</center></TD></TR></TABLE>
<pre>
<span class="s0">&lt;?</span><span class="s1">xml version=</span><span class="s3">&quot;1.0&quot; </span><span class="s1">encoding=</span><span class="s3">&quot;utf-8&quot;</span><span class="s0">?&gt;</span><span class="s2"> 
&lt;</span><span class="s4">RelativeLayout </span><span class="s1">xmlns:android=</span><span class="s3">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s2"> 
    </span><span class="s1">xmlns:tools=</span><span class="s3">&quot;http://schemas.android.com/tools&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
    </span><span class="s1">android:paddingBottom=</span><span class="s3">&quot;@dimen/activity_vertical_margin&quot;</span><span class="s2"> 
    </span><span class="s1">android:paddingLeft=</span><span class="s3">&quot;@dimen/activity_horizontal_margin&quot;</span><span class="s2"> 
    </span><span class="s1">android:paddingRight=</span><span class="s3">&quot;@dimen/activity_horizontal_margin&quot;</span><span class="s2"> 
    </span><span class="s1">android:paddingTop=</span><span class="s3">&quot;@dimen/activity_vertical_margin&quot;</span><span class="s2"> 
    </span><span class="s1">tools:context=</span><span class="s3">&quot;com.ssm.usuario.yourproof.Act_Items_recetas&quot;</span><span class="s2">&gt; 
 
    &lt;</span><span class="s4">FrameLayout</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;200dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignParentTop=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_centerHorizontal=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/frameLayout&quot;</span><span class="s2">&gt; 
 
        &lt;</span><span class="s4">VideoView</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;169dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/videoView&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;left|top&quot;</span><span class="s2"> 
            </span><span class="s1">android:visibility=</span><span class="s3">&quot;visible&quot; </span><span class="s2">/&gt; 
 
    &lt;/</span><span class="s4">FrameLayout</span><span class="s2">&gt; 
 
    &lt;</span><span class="s4">VideoView</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;170dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;83dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/videoView2&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;left|bottom&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_below=</span><span class="s3">&quot;@+id/frameLayout&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignParentLeft=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignParentStart=</span><span class="s3">&quot;true&quot; </span><span class="s2">/&gt; 
 
    &lt;</span><span class="s4">FrameLayout</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_centerHorizontal=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_below=</span><span class="s3">&quot;@+id/videoView2&quot;</span><span class="s2">&gt; 
 
        &lt;</span><span class="s4">Button</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;163dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;79dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:text=</span><span class="s3">&quot;Comprar Receta&quot;</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/BtnCmp_Receta&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;left|center_vertical&quot; </span><span class="s2">/&gt; 
 
        &lt;</span><span class="s4">Button</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;158dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;71dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:text=</span><span class="s3">&quot;Comprar Plato&quot;</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/BtnCmp_Plato&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;right|center_vertical&quot; </span><span class="s2">/&gt; 
    &lt;/</span><span class="s4">FrameLayout</span><span class="s2">&gt; 
 
&lt;/</span><span class="s4">RelativeLayout</span><span class="s2">&gt; 
</span></pre>
</body>
</html>